:root {
  --primary: #ebc072;
  --secondary: #cd8a0e;
  --light: #fae9d2;
  --dark: #111213;
  --navbar: #1a2027;
  --background: #14171C;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 200px !important;
  background: #000 !important;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  user-select: none;
  overscroll-behavior-y: none;
  touch-action: pan-x pan-y;
  overflow: hidden;
}

main {
  height: calc(100% - 64px);
  width: 100%;
}

.navbar {
  background: var(--navbar);
}

.title,
.button-clear,
.tagline {
  color: var(--primary) !important;
  margin: 0 !important;
  min-width: fit-content;
}

.title {
  font-size: 2.75rem;
  font-weight: bold;
  color: var(--secondary) !important;
  white-space: nowrap;
}
.subtitle {
  font-size: 2rem;
  font-weight: normal;
  color: var(--primary) !important;
  margin-bottom: 0;
}

.tagline {
  font-size: 1.8rem;
  margin-bottom: -6px !important;
}

.button,
.button:hover,
.button:focus,
.button:active {
  padding: 0 1rem;
  margin-right: 3rem;
  min-width: fit-content;
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--navbar);
}

.button:hover {
  filter: saturate(1.25)
}

.button:active {
  filter: saturate(0.8)
}

.nav-container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: .75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container h1 div {
  display: inline-block;
}
.nav-container h1 span {
  display: block;
}

.nav-container h1 img {
  min-width: 60px;
  max-width: 60px;
  margin: auto;
  margin-right: -1rem;
}

.nav-menu {
  display: flex;
  gap: 0.1rem;
}

#content-container {
  position: absolute;
  top: 16%;
  bottom: 19%;
  left: 10%;
  right: 10%;
  height: auto;
  width: 80%;
  max-width: 1000px;
  margin: auto;
  z-index: 90;
  color: var(--light);
  background: var(--background);
  overflow-y: auto;
  border-radius: 6px;
  box-shadow: #000 0px 0px 20px;
}

#home-container {
  height: 100%;
  min-height: 100%;
  border-top: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
  background: var(--dark);
  overflow-y: auto;
}

#home-container h1 {
  padding: 1rem 6rem;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 20px;
  color: var(--primary) !important;
  background: var(--background);
}

#home-container div {
  padding: 1rem 6rem;
}

#home-container .top {
  text-align: left;
  padding: 0rem 3rem;
  padding-top: 1rem;
  margin-bottom: 0;
  font-size: 1.75rem;
  background: var(--background);
}
#home-container .top span p {
  font-weight: normal;
}
#home-container .top img {
  margin: -1rem;
  padding: 0;
  min-width: 160px;
  max-width: 160px;
}

#home-container .top span:first-child {
  margin-right: 40px;
}
#home-container .top span:not(:first-child) {
  margin-top: 1rem;
}

#home-container .highlight {
  background: var(--dark);
}

#home-container .bottom {
  position: fixed;
  width: 100%;
  padding: 3rem;
  left:0;
  right:0;
  bottom: 0;
  text-align: center;
  font-size: 20px;
  color: var(--secondary) !important;
  background: var(--background);
}

#criteria-container {
  padding: 3rem;
}

#description-container {
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 2.5rem 15%;
  border-width: 0;
  background-color: #15181b;
  box-shadow: #000 0px -6px 9px;
  z-index: 55;
}

#description-container * {
  color: var(--secondary);
}

#description-container p {
  font-size: 2rem !important;
  margin: 0;
}

#description-container span {
  font-size: 2.5rem !important;
}

#description-container h2 {
  margin: 0;
  padding: 0;
}

#description-container .close-button {
  color: var(--light) !important;
  pointer-events: none;
  margin-top: -3.5rem;
  font-size: 1.25rem !important;
  font-weight: normal;
  text-shadow: #000 0px 0px 6px;
}

#search-container {
  position: absolute;
  bottom: 0.6rem;
  left: 15%;
  right: 15%;
  width: 70%;
  z-index: 60;
}

#searchbox,
#searchbox:active,
#searchbox:focus,
#searchbox:hover {
  width: 100%;
  padding: 1rem;
  padding-right: 30px;
  box-sizing: border-box;
  font-size: 1.25rem;
  color: var(--light) !important;
  border-color: var(--secondary);
  background: var(--background);
  box-shadow: #000 0px 0px 15px;
  outline: none;
}

#search-container .close-button {
  position: absolute;
  right: 0px;
  padding: 0 9px;
  color: #aaa;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  z-index: 61;
}

#search-container .close-button:hover {
  color: #888;
}

#scene-container {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; 
  height: 100%;
  width: 100%;
  z-index: 0;
}

#loading-container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 40vh;
  color: var(--secondary);
  background-color: #000;
  z-index: 1;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 6px;
  font-size: 3rem;
  font-weight: bold;
  color: var(--light);
  cursor: pointer;
  z-index: 91;
  line-height: 1;
  background: transparent;
  border: none;
  user-select: none;
}

.close-button:hover {
  color: #aaa;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.fadeIn {
  animation: fadeInK 1.5s;
}

@keyframes fadeInK {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

ul {
  list-style-position: inside;
  list-style-type: lower-roman;
  margin-left: 0.25rem;
}

textarea,
textarea:focus {
  color: var(--light);
  border-color: var(--light);
  max-width: 600px;
  display: block;
}

a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  font-size: smaller;
  color: var(--primary) !important;
}

a:hover {
  opacity: 0.75;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
  margin: auto;
}

.middle {
  vertical-align: middle;
}

.clearfix {
  clear: both;
  display: block;
}

.w25 {
  width: 24%;
  display: inline-block;
}

.w50 {
  width: 48%;
  display: inline-block;
}

.w75 {
  width: 74%;
  display: inline-block;
}

@media (max-width: 768px) {
  .nav-container {
    width: 95%;
  }

  main.container {
    flex-direction: column;
  }

  .title {
    font-size: 1.75rem;
  }

  #textlist {
    width: 100%;
    height: 200px;
  }

  #main {
    height: calc(100% - 200px);
  }

  #content-container {
    top: 10%;
    bottom: 16%;
    left: 0%;
    right: 0%;
    width: 100%;
  }

  #home-container .top {
    text-align: center;
  }

  #home-container .top span:first-child {
    margin-right: 0px;
  }

  #description-container {
    padding: 1.5rem;
  }

  #description-container p {
    font-size: 1.5rem !important;
  }

  #description-container span {
    font-size: 2rem !important;
  }

  .button,
  .button:hover,
  .button:focus,
  .button:active {
    padding: 0 0.2rem;
  }

  .m-hide {
    display: none;
  }

  .w25 {
    width: 100%;
  }

  .w50 {
    width: 100%;
  }

  .w75 {
    width: 100%;
  }
}